<nav class="main-nav" aria-label="Menu principal">
    <ul class="menu">
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Brasileirão</a>
            <ul class="submenu">
                <li><a href="#">Fluminense</a></li>
                <li><a href="#">Flamengo</a></li>
                <li><a href="#">Grêmio</a></li>
                <li><a href="#">Cruzeiro</a></li>
                <li><a href="#">Corinthians</a></li>
                <li><a href="#">Palmeiras</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Clubes Europeus</a>
            <ul class="submenu">
                <li><a href="#">Real Madrid</a></li>
                <li><a href="#">Barcelona</a></li>
                <li><a href="#">Bayern</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#" class="menu-link">Camisas Jogador</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Infantil</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Rastrear Pedido</a></li>
    </ul>
</nav>
